@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css";
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue;
    margin: 40px 0 40px 0;
}

.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(45, 14, 14);
}
