
body {
    margin: 0;
    padding: 0 16px;
    background-color: #202020;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}


label {
    font-weight: 500;
    color: rgb(168, 205, 247);    
}

input:not(input[type='checkbox']):not(input[type='radio']), button {
    min-height: 40px;
    padding: 5px 10px;
}

input[type='radio'], input[type='radio'] {
    display: inline;
    width: auto;
}

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}